.format-item {
    @include button-unstyled;
    width: 5rem;
    height: 5rem;
    opacity: 0.4;
    @include transition(opacity 0.25s ease-in-out);
    .item-icon {
        text-align: center;
        margin-bottom: 5px;
        svg {
            fill: $color-white;
            height: 22px;
            width: 22px;
        }
    }
    .item-label {
        color: $color-white;
        text-align: center;
        padding-bottom: 5px;
        border-bottom: 4px solid $color-white;
    }
    &:hover {
        opacity: 1;
    }
    &.active,
    &:active {
        opacity: 1;
    }
}